{% extends 'base.html' %}


{% block month %}
    <h1>{{ month_name }}</h1>
{% endblock %}


{% block dayDisplay %}
    {% for day in data %}
        <div id="{{ day.0.date }}" >
            {% for event in day.1 %}
                <h1>{{ event.title }}</h1>
                <p>{{ event.notes }}</p>
                <p>{{ event.start }}</p>
                <span>{{ event.end }}</span>
                <p>{{ event.allday }}</p>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}