{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/day-card.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/reload.js' %}"></script>
{% endblock %}

{% block month %}
    <h1 class="month-name">{{ month_name }}</h1>
{% endblock %}


{% block dayDisplay %}
    {% for day in days %}

        <div id="{{ day|date:"1" }}" class="day-card">
            <div class="day-specific">
                <h2 class="card-text title"> {{ day|date:"l" }} </h2>
                <p class="card-text date">{{ day|date:"j" }}</p>
            </div>
            <div class="day-events">
                {% for event in data %}
                    {% if event.date == day %}
                        <p class="card-text" >{{ event.title }}</p>
                        {% if event.allday %}
                            <p class="card-text">All Day</p>
                        {% else %}
                            <p class="card-text">{{ event.start }}-{{ event.end }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endfor %}
{% endblock %}