<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload-page.css' %}">
    <meta charset="UTF-8">
    <title>Cal Display - url upload</title>
</head>
<body>
<div id="url-form-container">
    <h1>Enter a webcal url with the webcal:// replaced with https://</h1>
    <form id="url-form" method="POST" action="{% url 'url-upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <button>Submit</button>
    </form>
</div>
</body>
</html>